/dictionary-frontend/public/sutiau-mp3/
/dictionary-frontend/node_modules/
/cache/
/makemeahanzi_svgs/svgs/
.DS_Store
.idea/
notes_on_docker.md
/dictionary-frontend/.env
/dictionary-frontend/README.md