/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

@font-face {
  font-family: 'Linux Biolinum SC';
  src: url('/public/fonts/linux_biolinum_sc.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Biolinum';
  src: url('/public/fonts/linux_biolinum_r.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Biolinum B';
  src: url('/public/fonts/linux_biolinum_rb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-primary: #202020;
  --bg-secondary: #252525;
  --bg-tertiary: #303030;
  --bg-highlight: #404040;
  --bg-highlight-plus: #505050;
  --text-primary: #e6e5e6;
  --logo-fg: #000080;
  --link-color: #9e9ef0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: Ubuntu, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Linux Biolinum SC', sans-serif;
}

p {
  margin: 0.5rem 0;
}

.header-bar {
  /* position: fixed; */
  top: 0;
  width: 100%; /* Ensure it spans the full width */
  display: flex;
  flex-direction: row;
  background-color: var(--bg-secondary); /* Ensure background covers content behind */
  z-index: 1000; /* Ensure it stays above other elements */
  /* padding: 10px; */
  box-shadow: 0 0 5px var(--bg-primary); /* Optional: Add shadow for better visibility */
}

.header-logo, .header-right {
  height: 8rem;
  width: 8rem;
  margin-inline: 1rem;
  /* margin-block: auto; */
  margin-top: 4rem;
}

/* .header-right {
  display: block;
} */

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  height: 100%; /* Ensure the parent div has a height */
  width: 100%;
}

.search-bar, .search-bar-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* display: grid; */
  /* gap: 1rem; */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
}

.search-bar-item, .search-bar-buttons {
  margin: .5rem;
  font-family: 'Linux Biolinum', sans-serif;
  font-size: 1rem;
}

.search-bar-item {
  max-width: 12rem;
}

.help-text {
  /* background-color: var(--bg-tertiary);
  border-radius: 1rem;
  padding: 1rem;
  padding-block: 1rem; */
  display: none; /* Initially hidden */
}

.help-text.visible {
  display: block; /* Visible when toggled */
}

.general-help-text {
  margin: 1rem;
  padding-inline: 1rem;
}

.text-input {
  /* width: 95%; */
  margin-block: .5em;
  background-color: var(--text-primary);
  color: var(--bg-primary);
  border-radius: 0.2rem;
  padding: 0.3rem;
  border: none;
}

.content-container {
  /* background-color: var(--bg-primary);
  color: var(--text-primary); */
  margin-top: 0;
  margin-bottom: calc(30px + 5vh);
  margin-left: 10vw;
  margin-right: 10vw;
  /* padding-top: 190px; */
}

button {
  margin: 0.5rem;
  font-family: 'Linux Biolinum B', sans-serif;
  font-size: 1rem;
  min-width: 6rem;
  background-color: var(--bg-highlight);
  color: var(--text-primary);
  border-radius: 0.2rem;
  border: none;
  padding: 0.3rem;
}

button:hover {
  background-color: var(--bg-highlight-plus);
  cursor: pointer;
  transition-duration: 0.2s;
}

.help-button {
  font-size: 2rem;
  min-height: 3rem;
  min-width: 3rem;
}

.help-button.active {
  background-color: var(--text-primary);
  color: var(--bg-primary)
}

td, tr {
  padding: 1vh;
}

.hant { font-family: "Kaiti TC", serif; font-style: normal; font-weight: 400; font-size: 30px; }
.hant-lemma {font-size: 40px; text-align: center; }

.entry-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 30px;
}

.checkbox { vertical-align: middle; }

.checkbox-label {
  font-size: .8rem;
  vertical-align: middle;
}

table { 
  font-family: Ubuntu, sans-serif; 
  margin: 1rem;
  /* padding: 1rem; */
  padding-bottom: calc(30px + 5vh);
}

th, .show-more-row { background-color: var(--bg-secondary); padding: 1rem; text-align: center; }

td { padding: 1rem; vertical-align: top; }

tr:nth-child(even){background-color: var(--bg-secondary); }
tr:nth-child(odd){background-color: var(--bg-tertiary); }
tr:hover {background-color: var(--bg-highlight); }

.romanization { 
  font-family: Ubuntu, sans-serif;
}
/* .pinyin { font-size: 16px; } */

.show-more-row {
  font-family: Ubuntu, sans-serif;
  margin: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.show-more-row:hover {
    cursor: pointer;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  background-color: var(--bg-tertiary);
  color: var(--text-primary);
  border: none;
  border-radius: 5px;
}

.back-to-top:hover {
  background-color: var(--bg-highlight);
  cursor: pointer;
}

code {
  font-family: monospace;
}

match, code {
  background-color: var(--bg-highlight-plus);
  color: var(--text-primary);
  padding: 0.2rem;
  border-radius: 0.3rem;
}